{{ partial "header.html" . }}

<article>
    {{ partial "articleinfo.html" . }}
    {{ .Content }}
</article>

{{ $related := .Site.RegularPages.Related . | first 7 }}
{{ with $related }}
    <div id="related-content">
        <hr class="hr-dotted">
        <hr class="hr-dotted">
        <h3>See Also</h3>
        <ul>
            {{ range . }}
            <li><a href="{{ .RelPermalink }}" title="{{ .Description }}">{{ .Title }}</a></li>
            {{ end }}
        </ul>
    </div>
{{ end }}
{{ partial "footer.html" . }}
