{{ partial "header.html" . }}

<article>
    <h1 class="article-title">{{ .Title }}</h1>
    {{ partial "articleinfo.html" . }}
    {{ .Content }}


{{ $related := .Site.RegularPages.Related . | first 8 }}
{{ with $related }}
    <div id="related-content">
        <hr class="hr-dotted">
        <hr class="hr-dotted">
        <h1 class="article-title">See Also</h1>
        <ul>
            {{ range . }}
            <li><a href="{{ .RelPermalink }}" title="{{ .Description }}">{{ .Title }}</a></li>
            {{ end }}
        </ul>
    </div>
{{ end }}
</article>
{{ partial "footer.html" . }}
