 
    * {
        box-sizing: border-box; 
    }
        
    body {
        background: #ffffff;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        font-family: "Helvetica", Arial, sans-serif;
    }
    
    #PageContainer {
        background: #ffffff;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
    }  
    
    #main-nav {
        background: white;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        margin-top: 1px;
        margin-bottom: 0px;
        padding: 0 0 0 0;
        align-items: center;
        font-size: 1.5rem;
    }
    
    #nav-home {
        /*margin-right: auto*/
        flex-grow: 1;
    }
    
    #main-nav a {
        text-decoration: none;
        color: #444;
    }
    
    #main-nav a:hover, a:active {
        color: #111;
    }

    hr { 
        margin-top: 0px;
        margin-bottom: 3px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    
    hr.hr-dotted {
        border: none;
        border-top: 1px dotted lightgray;
        width: 100%;
    }
    
    article {
        /*background: #f9fafc;*/
    }
    
    article h1 {
        color: #111;
        text-shadow: 1px 1px 3px #444;
        text-align: center;
        margin-top: 0px;
        margin-bottom: 1px;
        font-size: 1.8rem;
        font-family: "Helvetica", Arial, sans-serif;
    }
    
    article img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
    
    .readmorebutton {
        border: 2px solid #444;
        border-radius: 20px;
        text-decoration: none;
        text-align: center;
        font-size: 1.2rem;
        font-weight: bold;
        color: #444;
        padding: 10px;
        background: #ffffff;
        transition-duration: 0.4s;
        box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2), 0 5px 6px 0 rgba(0,0,0,0.19);
        cursor: pointer;
    }
    
    .readmorebutton:hover {
        background-color: #111;
        border: 2px solid #111;
        color: #ffffff;
    }
    
    a.readmore {
        font-weight: bold;
        font-size: 1.3rem;
    }
    
    a.readmore:hover, a.readmore:active {
        color: #111;
    }
    
    footer {
        text-align: center;
        font-size: 0.6rem;
        color: #444;
    }
    
    article h2 {
        text-align: center;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 1.4rem;
    }
    
    article h3 {
        text-align: center;
        font-size: 0.7rem;
        color: #444;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    #pagination-section {
        /*background: red;*/
        margin-top: 10px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        font-size: 0.8rem;
    }
    
    #pagination-section a {
        font-weight: bold;
        font-size: 1.4rem;
        border: 2px solid #111;
        border-radius: 20px;
        text-decoration: none;
        text-align: center;
        color: #111;
        padding: 10px;
        background: #ffffff;
        transition-duration: 0.4s;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 9px 0 rgba(0,0,0,0.19);
        cursor: pointer;
    }
    
    #pagination-section a:hover, a:active {
        background-color: #111;
        color: white;
    }
    
    .pagination-disabled {
        font-weight: bold;
        font-size: 1.4rem;
        border: 2px solid #111;
        border-radius: 20px;
        text-decoration: none;
        text-align: center;
        color: #111;
        padding: 10px;
        background: white;
        cursor: not-allowed;
        opacity: 0.08;
    }
    
    .article-list {
        font-size: 1.1rem;

    }
    
    .article-list li {
        margin-bottom: 5px;
    }
    
    blockquote {
        background-color: lightgray;
        display: block;
    }
    
    #related-content h3 {
        color: #111;
        margin-top: 10px;
        margin-bottom: 0px;
    }
    
    #related-content ul {
        margin-top: 0px;
        margin-bottom: 10px;
    }
    
    #related-content li {
        margin-bottom: 5px;
    }
    
    @media screen and (max-width: 360px) {
        #main-nav {
            font-size: 1.4rem;
        }
        #pagination-section {
        flex-direction: column;
    }
        
    }
    
    @media screen and (max-width: 330px) {
        #main-nav {
            font-size: 1.3rem;
        }
        
    }
    
    @media screen and (max-width: 310px) {
        #main-nav {
            font-size: 1.2rem;
        }
        
    }
    
    @media screen and (max-width: 290px) {
        #main-nav {
            font-size: 1.1rem;
        }
    }

