{{ partial "header.html" . }}
        {{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}
        {{ range $paginator.Pages }}
                <article>
                    <h1>{{ .Title }}</h1>
                    <h2>{{ .Description }}</h2>
                    <h3>{{ .PublishDate.Format "January 2, 2006" }}</h3>
                    {{ $baseUrl := .Site.BaseURL }}
                    {{ if isset .Params "tags" }}
                        {{ $count := len .Params.tags }}
                        {{ if gt $count 0 }}
                            <h3>
                            <i class="fa fa-tags fa-fw"></i>
                            {{ range $k, $v := .Params.tags }}
                                <a class="post-taxonomy-tag" href="{{ $baseUrl }}tags/{{ . | urlize }}">{{ . }}</a>{{ if lt $k (sub $count 1) }}&nbsp;&#47;{{ end }}
                            {{ end }}</h3>
                        {{ end }}
                    {{ end }}

                    {{ .Summary }}
                    {{ if .Truncated }}
                        <a href="{{ .RelPermalink }}" class="readmore"><i class="fas fa-chevron-left"></i>Read More<i class="fas fa-chevron-right"></i></a>
                    {{ end }}
                </article>
        {{ end }}
    
        
        <div id="pagination-section">
        {{ if $paginator.HasPrev }}
            <a href="{{ $paginator.Prev.URL }}"><i class="fas fa-arrow-left"></i> Newer Posts</a>
        {{ else }}
            <span class="pagination-disabled"><i class="fas fa-arrow-left"></i> Newer Posts</span>
        {{ end }}
        <span>&nbsp;{{ $paginator.PageNumber }} / {{ $paginator.TotalPages }}&nbsp;</span>
        {{ if $paginator.HasNext }}
            <a href="{{ $paginator.Next.URL }}">Older Posts <i class="fas fa-arrow-right"></i></a>
        {{ else }}
            <span class="pagination-disabled">Older Posts <i class="fas fa-arrow-right"></i></span>
        {{ end }}
        </div>
        
{{ partial "footer.html" . }}
