{{ partial "header.html" . }}
        
        {{ range .Paginator.Pages }}
                <article>
                    <h1 class="article-title"><a href="{{ .RelPermalink }}" class="index-title">{{ .Title }}</a></h1>
                    {{ partial "articleinfo.html" . }}
                    {{ .Summary }}
                    {{ if .Truncated }}
                        <div class="readmorediv"><a href="{{ .RelPermalink }}" class="readmorebutton" title="Click here to read the rest of this article">Read More <i class="fas fa-arrow-right"></i></a>
                        </div>
                    {{ end }}
                    <hr class="hr-dotted">
                </article>
        {{ end }}
    
        
        <div id="pagination-section">
        {{ $paginator := .Paginate (where .Data.Pages "Type" "posts") }}
        {{ if $paginator.HasPrev }}
            <a href="{{ $paginator.Prev.URL }}"><i class="fas fa-arrow-left"></i> Newer Posts</a>
        {{ else }}
            <span class="pagination-disabled"><i class="fas fa-arrow-left"></i> Newer Posts</span>
        {{ end }}
        <span>&nbsp;{{ $paginator.PageNumber }} / {{ $paginator.TotalPages }}&nbsp;</span>
        {{ if $paginator.HasNext }}
            <a href="{{ $paginator.Next.URL }}">Older Posts <i class="fas fa-arrow-right"></i></a>
        {{ else }}
            <span class="pagination-disabled">Older Posts <i class="fas fa-arrow-right"></i></span>
        {{ end }}
        </div>
        
{{ partial "footer.html" . }}
