{{ partial "header.html" . }}
        {{ $paginator := .Paginate (where .Data.Pages "Type" "posts") }}
        {{ range $paginator.Pages }}
                <article>
                    {{ partial "articleinfo.html" . }}
                    {{ .Summary }}
                    {{ if .Truncated }}
                        <br><a href="{{ .RelPermalink }}" class="readmorebutton" title="Click here to read the rest of this article">Read More</a><br><br>
                    {{ end }}
                    <hr class="hr-dotted">
                </article>
        {{ end }}
    
        
        <div id="pagination-section">
        {{ if $paginator.HasPrev }}
            <a href="{{ $paginator.Prev.URL }}">Newer Posts</a>
        {{ else }}
            <span class="pagination-disabled">Newer Posts</span>
        {{ end }}
        <span>&nbsp;{{ $paginator.PageNumber }} / {{ $paginator.TotalPages }}&nbsp;</span>
        {{ if $paginator.HasNext }}
            <a href="{{ $paginator.Next.URL }}">Older Posts</a>
        {{ else }}
            <span class="pagination-disabled">Older Posts</span>
        {{ end }}
        </div>
        
{{ partial "footer.html" . }}
